evidence/*
!evidence/README.md
!evidence/dc-ou.png
!evidence/ws-dns2.png
!evidence/siem-status3.png
!evidence/siem-agent-cutover.png
.env
.env.*
!.env.example
*.jsonl
*.log
*.key
*.pem
*.crt
*.cer
*.pfx
*.p12
*.pcap
*.pcapng
*.evtx
*.db
*.sqlite
*.sqlite3
*.dump
*.vdi
*.vmdk
*.vbox
*.vbox-prev
*.ova
*.ovf
*.iso
*.zip
*.7z
*.tar
*.tar.gz
*secret*
*credential*
*password*
